DJANGO_SECRET_KEY=change-moi
DJANGO_DEBUG=True

CINETPAY_APIKEY=
CINETPAY_SITE_ID=
CINETPAY_TRANSFER_PASSWORD=
CINETPAY_SMS_APIKEY=

BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

CELERY_BROKER_URL=redis://localhost:6379/0
